<div class="overlay h-100 w-100 position-absolute top-0 start-0 bg-opacity-50 bg-dark">
  <div class="win-msg alert alert-primary position-absolute top-50 start-50 translate-middle" role="alert">
    <span class="me-2">Winner is {{name}} with time: {{time}}s</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
