<h2 class="my-4">Winners (<span id="amount">1</span>)</h2>
<h4 class="mt-2">Page #<span id="pageNumber">1</span></h4>
<div class="col-md-9 col-lg-6">
  <table class="table table-sm table-dark table-striped">
    <thead class="table-primary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Car</th>
      <th scope="col">Name</th>
      <th class="wins-column" scope="col">Wins</th>
      <th class="time-column" scope="col">Best time(s)</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
  <div class="d-flex gap-2">
    <button id="prev" type="button" class="btn btn-secondary">PREV</button>
    <button id="next" type="button" class="btn btn-secondary">NEXT</button>
  </div>
</div>